<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">돼지 생성</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="pig_no">돼지식별번호</label>

              
                <input formControlName="pig_no" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="birth_date">출생일자</label>

              
                <input formControlName="birth_date" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="gender">성별</label>

              
                <input formControlName="gender" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="kind">종류</label>

              
                <input formControlName="kind" type="text" class="form-control">
              

            </div>
            
            <div class="form-group text-left">
              <label for="size">크기</label>

              
                <input formControlName="size" type="text" class="form-control">
              

            </div>

            <div class="form-group text-left">
              <label for="mem_no">식별번호</label>

              
                <input formControlName="mem_no" type="text" class="form-control">
              

            </div>

          <div class="form-group text-left">
              <label for="owner">오너</label>

              
                <input formControlName="owner" type="text" class="form-control">
              

            </div>
            


        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Pig</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="pig_no">돼지식별번호</label>

              
                <input [ngModel]="pig_no" formControlName="pig_no" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="birth_date">출생일자</label>

              
                <input [ngModel]="birth_date" formControlName="birth_date" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="gender">성별</label>

              
                <input [ngModel]="gender" formControlName="gender" type="text" class="form-control">
              

            </div>
            
            <div class="form-group text-left">
              <label for="kind">종류</label>

              
                <input [ngModel]="kind" formControlName="kind" type="text" class="form-control">
              

            </div>

            <div class="form-group text-left">
              <label for="size">크기</label>

              
                <input [ngModel]="size" formControlName="size" type="text" class="form-control">
              

            </div>

            <div class="form-group text-left">
              <label for="mem_no">식별번호</label>

              
                <input [ngModel]="mem_no" formControlName="mem_no" type="text" class="form-control">
              

            </div>

            <div class="form-group text-left">
              <label for="owner">오너</label>

              
                <input [ngModel]="owner" formControlName="owner" type="text" class="form-control">
              

            </div>


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Pig</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this pig?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Pig</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">돼지식별번호</th>
            
                <th class="info">출생일자</th>
            
                <th class="info">성별</th>

                <th class="info">종류</th>

                <th class="info">크기</th>

                <th class="info">식별번호</th>

                <th class="info">오너</th>
                           
                <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.pig_no}}</td>
            
                <td>{{asset.birth_date}}</td>
            
                <td>{{asset.gender}}</td>

                <td>{{asset.kind}}</td>

                <td>{{asset.size}}</td>

                <td>{{asset.mem_no}}</td>

                <td>{{asset.owner}}</td>
            
            
            <td>
              <button (click)="getForm(asset.pig_no);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.pig_no);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>